<p>home works!</p>
<section>
  <div class="example-label">Ir para a lojinha</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button
          mat-mini-fab
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="irPara()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
